<% if (title) { %>
    <h1><%= title %></h1>
    <% } else { 
        res.redirect('/');
    } %>
    
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }); %>
        </ul>
<% } %>

<section class="user-form-box">
    <form id='register-form' class="user-form" action="/account/register" method="post">
        <label>
            First Name:
            <br><input type="text" class="input-text" name="account_firstname" placeholder="First Name Required" required value="<%= locals.account_firstname %>" >
        </label><br>
        <label>
            Last Name:
            <br><input type="text" class="input-text" name="account_lastname" placeholder="Last Name Required" required value="<%= locals.account_lastname %>" >
        </label><br>
        <label>
            Email:
            <br><input type="email" class="input-text" name="account_email" placeholder="Valid Email Required" required value="<%= locals.account_email %>" >
        </label><br>
        <label>
            Password:
            <br><input type="password" class="input-text" name="account_password" placeholder="Valid Password Required" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
            <div class="pw-reqs">Password must be at least 12 characters long and contain at least 1 capital letter, one lower-case letter, 1 number, and 1 special character.</div>
        </label><br><br>
        <section class="submit-cont">
            <input type="submit" class="submit-btn" class="button" value="Register">
        </section>
    </form>
</section>